
.Login_page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    /* background-color: rgba(233, 233, 253, 1); */
    background: linear-gradient(135deg, #420e74, #42c5fd);
    /* background: linear-gradient(135deg, #f5f7ff, #e8eafc); */


}

.login-page-detail {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: rgba(254, 254, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 22px;
    gap: 10px;
}

.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    /* background-color: #7944ab; */
}

.login p {
    font-size: x-small;
}

.login span {
    font-size: 23px;
    font-weight: bold;
}

.all-detai {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #7944ab; */
    padding: 12px;

    p {
        font-size: 11px;
        color: red;
    }
}

.login-button {
    padding: 5px 5px;
    width: 95%;
    display: flex;
    flex-direction: column;
    font-size: x-small;
    gap: 20px;
    cursor: pointer;
    justify-content: center;


    /* background-color: #42c5fd; */
}

/* .login-button button {
    width: 100%;
    border-radius: 5px;
    height: 30px;
      cursor: pointer;
      padding: 10px;

} */

.other-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.other-detail span {
    font-size: x-small;
}

.other-detail a {
    font-size: x-small;
}

@media screen and (min-width:600px) and (max-width:1024px) {
    
}
@media screen and (max-width:599px){
    .login-page-detail{
        height: 400px;
        width: 300px;

    }
}