.labtest {
    padding: 20px;
    max-height: 600px;
    min-height: 600px;
    background-color: #fff;
    overflow-x: scroll;
    border-radius: 20px;
    overflow-y: auto;
    max-width: 800px;
    min-width: 800px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
        margin-top: 5px;
        font-size: 12px;
        color: gray;
    }

    ;

    span {
        font-size: 12px;
        color: green;
    }


}

.common-btn {
    padding: 7px;
    color: white;
    background-color: black;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}





.patient-vitals {
    height: 200px;
    margin-top: 10px;
    display: flex;
    gap: 10px;
    border: 0.5px solid lightgray;
    border-radius: 20px;
    padding: 10px;
    transition: 1s ease;
}

.patient-vitals-item {
    display: flex;
    padding: 7px;
    justify-content: space-between;
    align-items: center;

    p {
        display: flex;
    }

}

.patient-vitals.active {
    height: 0px;
    padding: 0px;

    div {
        display: none;
    }
}