.md-dashboard {
    height: 100vh;
}

.super-admin-logo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: black;
    background-color: rgba(254, 254, 255);
    border-radius: 20px;
    margin-bottom: 10px;
}

.performance-card {
    width: 100%;
    height: 500px;
    margin-top: 20px;
    display: flex;
    /* flex-direction: column; */
    /* grid-template-columns: 2fr 1fr;   */
    gap: 10px
}


.revenue-performance {
    width: 70%;
    border-radius: 20px;
    background-color: rgba(254, 254, 255);
    color: black;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.today-visits {
    width: 30%;
    border-radius: 20px;
    background-color: rgba(254, 254, 255);
    color: black;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.patientCard {
    border: 0.5px solid lightgrey;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    p {
        font-size: 12px;
    }

    ;

    span {

        font-weight: normal;
        font-size: 12px;
        color: rgb(99, 95, 95);
        letter-spacing: 1px;

    }
}

.today-visits-heading {
    display: flex;
    justify-content: space-between;

    span {

        font-weight: normal;
        font-size: 12px;
        color: rgb(99, 95, 95);
        letter-spacing: 1px;
        cursor: pointer;

    }

}

.viewAll:hover {
    color: blue;
}

.status-card {
    display: flex;
    justify-content: space-between;

    select {
        cursor: pointer;
        padding: 7px;
        outline: none;
        border: 1px solid lightgrey;
        border-radius: 7px;

    }
}



@media screen and (min-width: 600px) and  (max-width: 1024px)
{
  .performance-card
  {
    flex-direction: column;
  } 
  .revenue-performance
  {
    width: 100%;
  }
 .today-visits
 {
    width: 100%;    
 }
}

@media (max-width: 599px)
{

.performance-card
  {
    flex-direction: column;
  } 
  .revenue-performance
  {
    width: 100%;
  }

  .today-visits
 {
    width: 100%;    
 }
}
