.super-admin-logo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* height: 90px; */
    color: black;
    background-color: rgba(254, 254, 255);
    border-radius: 20px;
    margin-bottom: 10px;
}

.performance-card {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px
}


.revenue-performance {
    height: 400px;
    border-radius: 20px;
    background-color: rgba(254, 254, 255);
    color: black;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    padding: 15px;
}

.today-visits {
    height: 400px;
    border-radius: 20px;
    background-color: rgba(254, 254, 255);
    color: black;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    padding: 15px;
}