.Hospital-info-main
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.hospital-profile
{
    background-color: white;
    padding: 20px;
    margin: 20px;
    width: 100%;
    border-radius: 10px;
}
.hospital-logo
{
    background-color: #8b5cf6;;
    border-radius: 30%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hospital-Name
{
    display: flex;
    padding: 10px 20px;
    gap: 30px;
    align-items: center;
}

/* .md-Name button
{
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 0.5px solid lightgrey;
    border-radius: 5px;
} */

.hospital-data
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* background-color: lightcoral; */
    border-radius: 20px;
    /* opacity: 0px; */
}

.data2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}