*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Errorpage-main
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0px; */
    background-color: #9e92b1;
}

.error-contain
{
    width: 50%;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    border-top: 25px solid rgb(13, 1, 11);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.error-contain h1
{
    font-size: 40px;
  font-family: "Montserrat", sans-serif;
}

.error-contain p
{
    font-size: 15px;
    font-family: "Inter", sans-serif;
    /* text-decoration: underline; */
}

.error-contain img
{
    width: 200px;
    height: 180px;
    border-radius: 90%;
    opacity: 0.2;
}

/* a{
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
} */
