.dashbaordcardList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
}

/* FIX: Corrected syntax from JS object notation to CSS */
.card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 14vw;
    height: 6vw;
    padding: 10px;
    justify-content: center;
    border: 1px solid lightgray;
    background-color: rgb(211, 233, 232);
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 7px;


}

.customCard {
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    transition: 1s ease;
    border: 0.5px solid lightgray;

}


.hospitalperformance {
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    min-height: 500px;
}

.hosptialHeading {
    display: grid;
    /* FIX: Removed font-size: 1px to make text visible */
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #f4f4f4;
    padding: 15px;
    border: 0 solid gray;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.hosptialBody {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 1fr 1fr;
    border: 0 solid gray;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
}

.hosptialBody:hover {
    background-color: rgb(252, 247, 247)
}

.hosptialHeading,
.hosptialBody h4 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hospitalMangement {
    display: grid;
    gap: 2px;

    span {
        font-size: small;

    }
}


.hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.hos-metrices {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

    p {
        color: gray;
        font-size: 12px;
    }

    h5 {
        color: black;

    }
}

.common-btn {
    padding: 7px;
    color: white;
    background-color: black;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.red-btn:hover{
    color: red;
    cursor: pointer;

}

.view-btn:hover{

    color: blue;
cursor: pointer;
}

.hostpitalmanagement-body_HM {
    /* Kept original name (hostpital) but corrected 'overflow-y' syntax */
    overflow-y: scroll;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}


@media screen and (max-width:599px) {

    .hostpitalmanagement-body_HM  {
    grid-template-columns: repeat(1, 1fr)
}
.hidebutton{
    display: none;
}
    
}