.control-pannel {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;


}



.side-bar {
    width: 300px;
    background-color: white;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.1);
    border-radius: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: all 1s ease;


    hr {
        width: 100%;
        height: 0.1px;
        color: rgb(252, 251, 251);

    }
}

.side-bar.acitve {
    width: 60px;
}


.side-bar-logo {
    display: flex;

    align-items: center;
    margin: 0px 0 10px 0;
    gap: 10px;

    p {
        font-size: 10px;
        font-weight: bold;
        color: gray;
    }

    img {
        width: 80px;
        height: 80px;
        border-radius: 20px;
        cursor: pointer;
    }
}

.side-bar-links {
    margin-top: 20px;
}

.side-bar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    gap: 10px;
    transition: all 1s ease;

    h5 {
        width: 165px;
        padding: 10px;
    }
}


.side-bar-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    gap: 10px;
    transition: all 1s ease;

    h5 {
        width: 165px;
        padding: 10px;
    }
}

.side-bar-logout:hover {
    background-color: lightgray;
}

.side-bar-item:hover {
    transform: translateY(-7px);
    background-color: lightgray;
}

.logo {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #c8a2ff;
}

.collapse {
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 10px;

}

.mainContent {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    margin: 10px;
}

/* Whole layout */
/* .control-pannel {
    display: flex;
}

/* SIDEBAR */

/* logout-page */
.logout-page {
    position: absolute;
    bottom: 200px;
    left: 430px;
    background-color: rgba(254, 254, 255);
    color: black;
    width: 500px;
    padding: 25px;
    border-radius: 20px;
    display: grid;
    gap: 30px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
    /* opacity: 0.4; */

}

.logout-page p {
    font-size: 13px;
}

.log-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    font-size: x-small;
    height: 30px;
    width: 100;
}

.blur {
    position: fixed;
    /* filter: blur(20px); */
    backdrop-filter: blur(20px);
    height: 100vh;
    width: 100vw;
}


@media screen and (min-width: 600px) and (max-width: 1024px) {

    .side-bar{
        width:60px ;
    }
    .logout ,.tabname ,.side-bar-logo {
        display: none;
    }
    .menuIcon{
        display: none;
    }

}
@media screen and (max-width:599px){
       .side-bar{
        width:60px ;
    }
    .logout ,.tabname ,.side-bar-logo{
        display: none;
    } 
}