.control-pannel {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;


}



.side-bar {
    width: 300px;
    background-color: white;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.1);
    border-radius: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;


    hr {
        width: 100%;
        height: 0.1px;
        color: rgb(252, 251, 251);

    }
}


.side-bar-logo {
    display: flex;

    align-items: center;
    margin: 0px 0 10px 0;
    gap: 10px;

    p {
        font-size: 11px;
        color: gray;
    }

    img {
        width: 100px;
        height: 80px;
        border-radius: 20px;
        cursor: pointer;
    }
}

.side-bar-links {
    margin-top: 20px;
}

.side-bar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    gap: 10px;
    transition: all 1s ease;

    h5 {
        width: 165px;
        padding: 10px;
    }
}

.side-bar-item:hover {
    transform: translateY(-7px);
    background-color: lightgray;
}

.logo {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #c8a2ff;
}

.collapse {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 10px;

}

.mainContent {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    margin: 10px;
}