
.medication-page {
    width: 100vw;
    height: 100vh;
    margin: 10px;
    overflow-y: scroll;
    padding: 10px;
}

.illnessSuggenstion {
    display: flex;
    padding: 10px;
    flex-direction: column;
    max-height: 200px;
    overflow-y: scroll;
    border-radius: 20px;
    z-index: 9999;
    border: 0.5px solid lightgray;
    margin-bottom: 20px;

    h5 {
        font-size: 12px;
    }

    p {
        font-size: 10px;
    }
}

.illCard {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.illCard:hover {
    border: 1px solid;
    background-color: rgb(219, 237, 243);
    border-radius: 10px;
}

.med-head {

    background-color: white;
    padding: 10px;
    border-radius: 20px;
}
.back-button
{
     /* style={{display:"flex",alignItems:"center",border:"0.5px solid lightgray",height:"20px"}} */

     display: flex;
     align-items: center;
     border: 0.5px solid lightgray;
     padding: 10px;
     height: 30px;
     border-radius: 10px;
}

.medication-heading-card {

    padding: 15px;

    transition: all 0.3s ease;
}

.medication-heading {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 0.1fr 1fr;
    max-height: 1000px;
    /* jitna bhi content ho */
    opacity: 1;

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
        color: gray;
        display: flex;
    }
}

.medication-heading.open {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}



.symtomPopup.open {
    opacity: 1;
    height: 50px;
    transform: translateY(0);
    pointer-events: all;
}

.patient-vitals {
     width: 100%;
    /* margin-top: 10px; */
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* background-color: #007bff; */  
}

.patient-vitals-item {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: start;
    /* padding: 70px;   */
    /* background-color: #007bff;  */
    
}

.patient-detail
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;  
  /* background-color: aqua; */
  p {
        font-size: 14px
    };

 input{
        color: rgb(61, 59, 59);
        font-weight: bold;
    }
}

.patient-history {

    span {
        padding: 10px;
        cursor: pointer;
        width: 110px;
        height: 30px;
        display: flex;
        justify-self: center;
        align-items: center;
        border-radius: 10px;
        font-size: 12px;

    }

    .line {
        border-bottom: 2px solid #007bff;

    }
}

.patient-history-images {
    overflow-x: scroll;
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    border: 0.5px solid lightgray;
    border-radius: 20px;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.patient-history-img-card {
    padding: 10px;
    width: 80px;
    height: 60px;
    cursor: pointer;
    /* border-radius: 20px;
    background-color: white;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.1); */


    img {
        width: 80px;
        height: 50px;


    }

    h5 {
        font-size: 10px;
        font-weight: 100;
    }

}

.openImage {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);

    animation: fadeIn 0.3s ease-in-out;


}

.openImageCard {
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    animation: scaleup 0.3s ease-in-out;

    img {

        width: 730px;
        height: 500px;
        object-fit: cover;
        border-radius: 10px;
        margin-top: 20px;

    }

}

.medication-body {
    margin-top: 10px;
    /* background-color: white; */
    border-radius: 20px;
    /* padding: 15px; */
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.1);
    transition: all 1s ease;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    min-height: 100vh;
    
    
}

.medicationPatienmedication {
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    input {
        margin: 7px;
        padding: 5px;
        outline: none;
        border-radius: 20px;
    }
}

.symtomPopup {
    position: fixed;
    bottom: 0;
    height: 290px;
    display: flex;
    flex-direction: column;
    width: 450px;
    right: 0;
    /* background-color: rgb(5, 0, 0); */
    box-shadow: 0 10px 5px rgb(0, 0, 0, 0.4);
    padding: 10px;
    z-index: 50;
    border-radius: 20px 20px 0 0;
    border: 0.5px solid lightgray;
    cursor: pointer;
    transition: 1s ease;

}

.symtomPopup-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow-y: scroll;
    background-color: white;
    opacity: 1;

}

.selected-illness {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    p {
        padding: 5px;
        font-size: 12px;
        color: rgb(65, 61, 61);
        border: 0.5px solid lightgray;
    }

}

.selected-symtomps {

    margin-Top: 20px;

    p {
        padding: 5px;
        font-size: 12px;
        color: rgb(65, 61, 61);
        border: 0.5px solid lightgray;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@keyframes scaleup {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


.medication-card {
    width: 80%;
    gap: '20px';

    p {
        margin-top: 5px;
        font-size: 12px;
        color: grey;

    }
}

.common-btn {
    padding: 7px;
    color: white;
    background-color: black;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}


.selectedMediciene {
    background-color: white;

    padding: 20px;
    border-radius: 20px;
    p {
        color: gray;
        font-size: 12px;
        margin-top: 5px;
    }
}
.selected-med{
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: scroll;
}


.patientHistory {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    z-index: 9999;
}



.med-card {
    display: flex;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    gap: 10px;
    transition: 1s ease;
}

.med-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    p {
        font-size: 12px;
        font-weight: bold;
    }



}

.medicene{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.search-med{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 20px;
}

 /* style={{
                                backgroundColor: "#c8a2ff",
                                width: '100px',
                                padding: "10px",
                                cursor: 'pointer',
                                alignItems: 'center',
                                outline: "none",
                                border: "none",
                                borderRadius: '10px',
                                justifyContent: "center" */
.genrate-btn-1{
    background-color: #c8a2ff;

}

.genrate-btn-2{
    background-color: lightblue;

}

.gen-btn{
width: 100px;
padding: 10px;
cursor: pointer;
align-items: center;
justify-content: center;
border-radius: 10px;
border: none;
outline: none;
}

.gen-btn:hover{
    background-color: lightgrey;
}


