* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Patientregiteration-main {
    width: 100vw;
    height: 100vh;
    background-color: rgba(233, 233, 253, 1);
    display: flex;
    padding: 20px;
    justify-content: center;
    /* align-items: center; */
    overflow-y: scroll;
    scrollbar-width: none;
}

.patient-view-form {
    width: 60%;
    height: 820px;
    display: flex;
    flex-direction: column;
    background-color: rgba(254, 254, 255);
    padding: 20px;
    border-radius: 10px;
}

.patientregisteration-header {
    width: 100%;
    display: flex;
    color: black;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}


/* patient-Step-0 */

.patient-step-0
{
    width: 100%;
    display: flex;
    margin-top: 30px;
    color: black;
    /* background-color: black; */
    /* align-items: center; */
    justify-content: space-between;
}
.patient-step-0 .img-1
{
    width: 50%;
    /* background-color: aqua; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
     border-radius: 10px;
    transition: all 0.8s ease;
}
.patient-step-0 .img-1:hover
{
    transform: translateY(-10px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
}


.patient-step-0 .img-2
{
    width: 50%;
    /* background-color: rgb(0, 255, 98); */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.8s ease;
     border-radius: 10px;
}

.patient-step-0 .img-2:hover
{
    transform: translateY(-10px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
}


/* patient-Step-1 */

.patient-step-1 
{
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.All-detail form
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.All-detail div
{
    width: 100%;
    display: flex;
    padding: 5px ;
}
.distance
{
   gap: 30px;
}


/* Patient-step-2 */

.patient-step-2
{
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.patient-step-2 div
{
    width: 100%;
    display: flex;
    padding: 5px ;
    gap: 20px;
}
.patient-step-2 form
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* patient-Step-3 */
 
.patient-step-3
{
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* page-handler */

.page-handler
{
    display: flex;
    justify-content: end;
    gap: 50px;
}




