.common-btn {
    padding: 7px;
    color: white;
    background-color: black;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.regular-btn {
    padding: 7px;
    background-color: rgb(229, 230, 243);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.cardList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.customCard {
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    transition: 1s ease;

}

.hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.hostpitalmanagement-body {
    /* Kept original name (hostpital) but corrected 'overflow-y' syntax */
    overflow-y: scroll;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}


.regular-btn {
    padding: 7px;
    background-color: rgb(229, 230, 243);
    border-radius: 10px;
    font-size: 10px;
    outline: none;
    cursor: pointer;
}

.editcard {
    background-color: white;
    padding: 10px;
    min-height: 400px;
    max-height: 400px;
    width: 700px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.edit-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
}

.main-buttons {
    padding: 7px;
    background-color: lightcyan;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.editcards {
    background-color: white;
    padding: 20px;
    min-height: 550px;
    max-height: 550px;
    width: 700px;
    border-radius: 20px;
    /* label{
    font-weight:bold;
    font-size: large;
    } */
}

.PaEditdetail
{
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.PaEditdetail div
{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.edit-detail-address {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit-scroll {
    overflow-y: scroll;
    scrollbar-width: none;
}

.patient-card {
    display: flex;
    justify-content: 'space-between';
    align-items: center;
    padding: '20px';
    height: '75px';
    border-radius: '10px';
    cursor: 'pointer';
    transition: all 1s ease;
    border-bottom: 0.5px solid lightgray;
    border-radius: 20px;
    cursor: pointer;
    /* box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.1); */

    button {
        height: 30px;
        width: 70px;
        font-Size: 10px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

}


.logo {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #c8a2ff;
}

.docWithImage {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    img {
        width: 200px;
        height: 200px;
        float: right;
        border-radius: 20px;
    }
}

.docbasicdetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    width: 100%;

    label {
        color: gray;
    }

    ;

    p {
        color: black;
    }
}

.docImage {
    border-radius: 20px;
}

.docProfile {
    
    height: 450px;
    overflow-y: scroll;
}

.pawithImage {
    img {
        height: 50px;
        width: 50px;
    }
}

.paProfile {
    margin-top: 10px;
}

.paBasicDetails {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    label {
        color: gray;
    }

    ;

    p {
        color: black;
    }
}

.select_department {
    margin-top: 10px;
    height: 100%;

    select {
        width: 100%;
        padding: 10px;
        border: 0.5px solid lightgray;
        border-radius: 10px;
    }
}

.actionbtn {

    display: flex;
    justify-content: end;
    align-content: end;
    align-items: end;
    gap: 10px;



}