.Deparment-Cards {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Department-name {
    background-color: white;
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;

}

.Department-name-section
{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}
.Department-name-section button
{
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 0.5px solid lightgrey;
    border-radius: 5px;
}

.Medical-Staf {
    padding-top: 20px;
}

.staff-Data {
    display: flex;
    justify-content: space-between;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    gap: 15px;

}