* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.priscription {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: rgba(233, 233, 253, 1);
    padding: 40px 20px;
    color: black;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.priscription button {
    /* margin-top: 30px; */
    height: 40px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.prisciption-detail-form {
    width: 794px;
    height: 900px;
    /* overflow-y: scroll;
    scrollbar-width: none; */
    padding: 20px;
    background-color: rgba(254, 254, 255);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    border: 0.3px solid lightgray;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo-and-detail {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    /* background-color: aqua; */
}

.lable-input {
    display: flex;
    width: 75%;
    gap: 20px;
    padding: 10px 20px;
    /* background-color: black; */
    border: 1px solid lightgrey;
}

.patient-box {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    border: 0.8px solid lightgray;
    padding: 5px 20px;
    overflow-y: scroll;
    /* scrollbar-width: none; */
    
}

.other-detail {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: antiquewhite; */
    span{
        font-size: 10px; 
    };
    img{
        width: 50px;
        height: 50px;
    }
}

.about {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */

}

.certified-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}