.patientHeading {
    display: grid;
    font-size: 12px;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
    background-color: #f4f4f4;
    padding: 15px;
    border: 0 solid gray;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.active-btn {
    padding: 7px;
    width: 80px;
    font-size: 11px;
    background-color: rgb(87, 177, 92);
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
}

.active-btn {
    padding: 7px;
    width: 80px;
    font-size: 11px;
    background-color: rgb(16, 126, 21);
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
}

.de-active-btn {
    padding: 7px;
    width: 80px;
    font-size: 11px;
    background-color: rgb(212, 80, 62);
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
}

.customCard {
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    transition: 1s ease;
    margin: 10px;

}

.hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.patientBody {
    cursor: pointer;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
    border: 0 solid gray;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;

    p {
        font-size: 12px;
        color: gray;
    }
}

.patientBody:hover {
    background-color: rgb(252, 247, 247);

    p {
        color: black
    }

    ;
}