* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i {
    cursor: pointer;
}

/* common css */

.commonBtn {
    border-radius: 15px;
    background-color: lightblue;
    font-size: 15px;
    cursor: pointer;
    border: 0.5px solid black;
}

/* common css end */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.controlPannel {
    top: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    border-top: 10px solid;
    /* background: rgb(14, 46, 109); */

}

.navbar {
    background-color: rgba(29, 39, 53);
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    transition: width 0.4s ease, padding 0.3s ease;
}

.navbar.collapse {
    width: 60px;

}

.navDiv {
    cursor: pointer;
}


.navDiv:hover,
.navDiv.active {
    background-color: rgba(42, 54, 70);

}


.navIcon {
    color: white;
    font-size: 20px;
}

.navText {
    color: white;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.2s ease;
}

.navbar.collapse .navText {
    opacity: 0;
    width: 0;
}

.mainContent {
    width: 100%;
    background-color: aliceblue;
    padding: 30px;
}

.dashboard {
    width: 100%;
}

.dashbaordcardList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 80%;
    justify-content: space-between;
}

.card {
    display: 'flex';
    flex-direction: 'column';
    width: 14vw;
    height: 6vw;
    padding: 10px;
    justify-content: 'center';
    cursor: 'pointer';
    border: "1px solid lightgray";
    background-color: white;


}

.card h3,
h2,
span,
i {
    font-size: 1vw;
}

.hospitalperformance {
    margin: 20px 0 10px 0;
    background-color: white;
    padding: 20px 0 0 10px;
    border-radius: 10px 10px 0 0;
    min-height: 500px;
}

.hosptialHeading {
    display: flex;
    justify-content: space-between;

}

/* hospitalOnboard */

.hospitalOnboard {
    width: 60vw;
    min-width: 400px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 620px;
    max-height: 620px;
    border-radius: 10px;
    scrollbar-width: thin;
    overflow-y: auto;

}

.steps {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    flex-wrap: wrap;
    padding: 20px;
}

input {
    width: 100%;
    min-width: 100px;
    padding: 10px;
    border-radius: 7px;
    font-size: 17px;
}

.patientRecordsHeadings,
.patientRecordBody>div {
    display: grid;
    grid-template-columns: 100px 1fr 80px 1fr 1fr 120px;
    /* Fixed widths for each column */
    gap: 15px;
    background-color: rgb(245, 239, 239);
    padding: 20px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-radius: 7px;
    align-items: center;
}

.patientRecordsHeadings {
    font-weight: bold;
}

.patientRecordBody>div {
    background-color: white;
    cursor: pointer;
    border-top: none;
    /* Remove double border */
    border-radius: 0;
    /* Remove radius for body rows */
}

.patientRecordBody>div:last-child {
    border-radius: 0 0 7px 7px;
    /* Add radius only to last row */
}

.patientRecordsHeadings p,
.patientRecordBody>div>p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.medicationPatieninfo {
    background-color: white;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.medicationPatieninfo span,
p {
    font-size: 15px;
}

.medicationPatienmedication {
    padding: 20px;
    margin-top: 10px;
    width: 40%;
    min-height: 600px;
}

.selectedMediciene {
    width: 60%;
    margin: 20px;
}

.illnessSuggenstion {
    display: flex;
    padding: 10px;
    flex-direction: column;
    max-height: 200px;
    overflow-y: scroll;
    border-radius: 20px;
}

.illCard {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.illCard:hover {
    border: 1px solid;
    background-color: rgb(219, 237, 243);
    border-radius: 10px;
}

.patientHistory {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* better than absolute for modals */
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    /* dim transparent bg */
    backdrop-filter: blur(4px);
    z-index: 9999;
}

.finalprescription {
    width: 794px;
    height: 1123px;
    background-color: white;
    margin: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}

.heading {
    padding: 20px;
    background-color: lightblue;
    text-align: center;
    font-weight: bold;
}

.Info {
    padding: 10px;

}