* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: rgba(241, 243, 251); */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



:focus {
  border: 2px solid #007bff;
  /* blue line */
}

body {
  background-color: rgba(241, 243, 251);
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* No scrollbars, no scrolling */
  overscroll-behavior: none;
  /* Prevents scroll chaining and bounce on mobile */
  position: fixed;
  /* Locks the page in place */
  top: 0;
  left: 0;

}


.star {
  color: red;
  display: inline;
}