* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.controlPannel {
    display: flex;
    height: 46vw;
    width: 100vw;
    border-top: 10px solid;
    background-color: rgb(243, 244, 246);

}

.controlPannel nav {
    background-color: rgba(29, 39, 53);
    width: 350px;
    height: 100%;
    display: flex;
}

.navDiv {
    width: "70px";
    height: "30px";
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;

}

.navDiv:hover {
    background-color: rgba(42, 54, 70)
}

.navDiv.active {
    background-color: rgba(42, 54, 70);
}

.mainContent {
    width: 100%;
    margin: 20px 30px 0 60px;
}

.dashboard {
    width: 100%;
}

.dashbaordcardList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 80%;
    justify-content: space-between;
}

.hospitalperformance {
    margin: 20px 0 10px 0;
    background-color: white;
    padding: 20px 0 0 10px;
}