* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i {
    cursor: pointer;
}


/* common css */

.commonBtn {
    border-radius: 15px;
    background-color: rgba(243, 243, 254);
    font-size: 15px;
    cursor: pointer;
    color: rgba(162, 165, 246);
    border: 0.5px solid lightgray;
    font-weight: bold;
    font-size: 12px;
    transition: all 0.2sec ease-in-out;

}


.commonBtn:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}


.customCard {
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    transition: 1s ease;
    width: 100%;

}

.hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* common css end */


.controlPannel {
    top: 0;
    display: flex;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    /* background: rgb(14, 46, 109); */

}

.navbar {
    background-color: white;
    width: 350px;
    height: 100%;
    border-radius: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    transition: width 0.4s ease, padding 0.3s ease;
}


.navbar.collapse {
    width: 60px;

}

.navDiv {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 1s ease;


}


.navDiv:hover,
.navDiv.active {
    background-color: rgba(236, 236, 253);

}


.navIcon {

    font-size: 20px;
}

.navText {
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.2s ease;
}

.navbar.collapse .navText {
    opacity: 0;
    width: 0;
}

.mainContent {
    width: 100%;
    background-color: rgba(241, 243, 251);
    overflow-y: scroll;
    /* background-color: rgb(247, 231, 231); */
    padding: 30px;
}

.dashboard {
    width: 100%;
}

.dashbaordcardList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 80%;
    justify-content: space-between;
}

.card {
    display: 'flex';
    flex-direction: 'column';
    cursor: pointer;
    width: 14vw;
    height: 6vw;
    padding: 10px;
    justify-content: 'center';
    cursor: 'pointer';
    border: "1px solid lightgray";
    background-color: rgb(211, 233, 232);
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 7px;


}


.hospitalperformance {
    margin: 20px 0 10px 0;
    padding: 20px 0 0 10px;
    border-radius: 10px 10px 0 0;
    min-height: 500px;
}

.hosptialHeading {
    display: grid;
    font-size: 1px;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
    background-color: #f4f4f4;
    padding: 15px;
    border: 0 solid gray;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.hosptialBody {
    cursor: pointer;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
    border: 0 solid gray;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
}

.hosptialBody:hover {
    background-color: rgb(252, 247, 247)
}

.hosptialHeading,
.hosptialBody h4 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* hospitalOnboard */

.hospitalOnboard {
    margin-top: 10px;
    width: 60vw;
    min-width: 400px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 520px;
    max-height: 520px;
    border-radius: 10px;
    scrollbar-width: thin;
    overflow-y: auto;

}


.steps {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    flex-wrap: wrap;
    padding: 10px;
}

label {
    font-size: 12px;
}

input {
    width: 100%;
    min-width: 100px;
    padding: 8px;
    border-radius: 7px;
    font-size: 12.5px;
    border: 1px solid lightgray;


}

select,
option,
textarea,
button,
input {
    outline: none;
    cursor: pointer;
}

button:focus,
button:active {
    outline: none;
    /* removes blue outline */
    box-shadow: none;
    /* removes shadow glow */
    border-color: lightgray;
    /* keeps border same */
}

.patientRecordsHeadings,
.patientRecordBody>div {
    display: grid;
    grid-template-columns: 100px 1fr 80px 1fr 1fr 120px;
    /* Fixed widths for each column */
    gap: 15px;
    background-color: rgb(245, 239, 239);
    padding: 20px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-radius: 7px;
    align-items: center;
}

.patientRecordsHeadings {
    font-weight: bold;
}

.patientRecordBody>div {
    background-color: white;
    cursor: pointer;
    border-top: none;
    /* Remove double border */
    border-radius: 0;
    /* Remove radius for body rows */
}

.patientRecordBody>div:last-child {
    border-radius: 0 0 7px 7px;
    /* Add radius only to last row */
}

.patientRecordsHeadings p,
.patientRecordBody>div>p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.medicationPatieninfo {
    background-color: white;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.medicationPatieninfo span,
p {
    font-size: 15px;
}

.medicationPatienmedication {
    padding: 20px;
    margin-top: 10px;
    width: 40%;
    min-height: 600px;
}

.selectedMediciene {
    width: 60%;
    margin: 20px;
}

.illnessSuggenstion {
    display: flex;
    padding: 10px;
    flex-direction: column;
    max-height: 200px;
    overflow-y: scroll;
    border-radius: 20px;
}

.illCard {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.illCard:hover {
    border: 1px solid;
    background-color: rgb(219, 237, 243);
    border-radius: 10px;
}

.patientHistory {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* better than absolute for modals */
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    /* dim transparent bg */
    backdrop-filter: blur(4px);
    z-index: 9999;
}

.finalprescription {
    width: 794px;
    height: 1123px;
    background-color: white;
    margin: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}

.heading {
    padding: 20px;
    background-color: lightblue;
    text-align: center;
    font-weight: bold;
}

.Info {
    padding: 10px;

}

.cardList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.hostpitalmanagement-body {

    overflow-y: 'scroll';
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.patientRegister {
    background-color: rgba(241, 243, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.navHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}


/* mobile */
@media screen and (max-width:600px) {

    .cardList {
        grid-template-columns: repeat(2, 1fr);
    }

    .hospitalperformance {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hospitalperformance,
    button {
        display: none;

    }

    .hostpitalmanagement-body {
        grid-template-columns: 1fr;
    }

}



/* tablet*/
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .navHeading {
        display: none;
    }

    .navbar {
        width: 64px;
    }

    .cardList {
        grid-template-columns: repeat(3, 1fr);
    }

    .hostpitalmanagement-body {
        grid-template-columns: 1fr;
    }

}