.labtest {
    padding: 20px;
    max-height: 600px;
    min-height: 600px;
    background-color: #fff;
    overflow-x: scroll;
    scrollbar-width: none;
    border-radius: 20px;
    overflow-y: auto;
    max-width: 800px;
    min-width: 800px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
        margin-top: 5px;
        font-size: 12px;
        color: gray;
    }

    ;

    span {
        font-size: 12px;
        color: green;
    }


}

.common-btn {
    padding: 7px;
    color: white;
    background-color: black;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}





.patient-vitals {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    padding: 10px;
    transition: all 1s ease;
}

.patient-vitals-item {
    display: flex;
    padding: 7px;
    justify-content: space-between;

    p {
        display: flex;
    }

}

.patient-vitals.active {
    height: 0px;
    padding: 0px;
    transition: all 1s ease;

    div {
        display: none;
    }
}








.patient-history {

    span {
        padding: 10px;
        cursor: pointer;
        width: 110px;
        height: 30px;
        display: flex;
        justify-self: center;
        align-items: center;
        border-radius: 10px;
        font-size: 12px;

    }

    .line {
        border-bottom: 2px solid #007bff;

    }
}

.patient-history-images {
    overflow-x: scroll;
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    border-radius: 20px;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.patient-history-img-card {
    padding: 10px;
    width: 80px;
    height: 60px;
    cursor: pointer;
    /* border-radius: 20px;
    background-color: white;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.1); */


    img {
        width: 80px;
        height: 50px;


    }

    h5 {
        font-size: 10px;
        font-weight: 100;
    }

}

.patient-card {
    p {
        font-weight: bold;
    }
}